body {
    background-color:100% 100% #eee;
    margin: 0 auto;
    font-family: Helvetica;
}

header {
    padding: 10px 100px;
}
header > * {
    display: inline-block;
}

div.topmenu {
    display: inline-block;
    width: 100%;
}

ul.menuL {
    list-style:none;
    padding:10px;
    float: left;
}

ul.menuL li {
    display:inline;
    font-family: Helvetica;
    font-size: 22px;
    list-style: none;
}

ul.menuR {
    list-style:none;
    padding:15px;
    float: right;
}

ul.menuR li {
    display:inline;
    list-style:none;
}

ul.title {
    list-style:none;
    text-align:center;
    font-size: 24px;
}

ul.date {
    list-style:none;
    text-align:center;
    font-size: 10px;
    color: rgb(180, 177, 177);
    font-weight:200;
    line-height: 0;
}

ul.button {
    list-style:none;
    text-align:center;
}

main {
    margin:10px 200px;
}

footer {
    margin:0px 200px;
}

ul.footer {
    list-style:none;
    display:inline;
}

ul.footer li {
    display:inline;
}
