* {
    font-family:Helvetica;
}

.container {
    display:flex;
    height:100vh; 
    flex-direction:column; 
}

.top {
    background-image:url("atl.png");
    height:41%;
}

.menu {
    color:white;
    display:flex; 
    flex-direction:row;
    justify-content:flex-end;
    padding: 15px;
}

.middle {
    background-color:white;
    height:48%;
}

.bottom {
    background-color:rgb(85, 83, 83);
    height:10%;
}